// --------------------------------------------------
// remove whitespace after footer
// --------------------------------------------------
footer {
  min-height: auto;
}

// --------------------------------------------------
// prevent overflow of long names in sidebar
// --------------------------------------------------
.td-sidebar-nav__section > ul {
  overflow-wrap: break-word;
}

// --------------------------------------------------
// custom navbar with larger logo, dropdown on mobile
// --------------------------------------------------
.td-navbar {
  min-height: auto;

  .navbar-brand {
    margin: 0;
    padding: 0;

    .font-weight-bold {
      display: none;
    }

    .navbar-logo {
      svg {
        display: inline-block;
        position: absolute;
        width: 146px;
        height: 20px;
        top: 19px;
        left: 30px;
        z-index: 33;

        @include media-breakpoint-down(md) {
          width: 80px;
        }
      }
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      font-size: .875rem;
      .dropdown {
        min-width: inherit;
      }
    }
  }
}

.td-sidebar {
  padding-bottom: 0.5rem;

  .td-sidebar__inner {
    padding-top: 30px;

    @include media-breakpoint-down(md) {
      padding-top: 10px;
    }
  }
}

body {
  background-color: rgba(250, 251, 252, 1);
}


// --------------------------------------------------
// 404 page
// --------------------------------------------------
.error-page {
  margin-top: 120px;

  ul {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }

  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 100px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

// --------------------------------------------------
// for tabbed code blocks
// --------------------------------------------------
.nav-tabs {
  border-bottom: none !important;
}

.td-content > ul li,
.td-content > ol li.nav-item {
  margin-bottom: 0px;
}

.td-content .tab-content .highlight {
  margin: 0;
}

.tab-pane {
  border-radius: 0.25rem;
  padding: 0 16px 16px;

  border: 1px solid #dee2e6;

  &:first-of-type.active {
    border-top-left-radius: 0;
  }
}

nav.foldable-nav .ul-1 .with-child>label:hover:before {
  transform: none;
}

nav.foldable-nav .ul-1 .with-child>input:checked~label:hover:before {
  transform: rotate(90deg) !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px){
  .td-navbar-cover {
      margin-left: 40px;
      border-bottom-left-radius: 25px;
      padding-left: 32px;
      padding-right: 80px;
      height: 56px;
  }
}

#overview {
  padding: 0px !important;
}

#overviewBg {
  position: relative;
  .buttonWrapper {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    bottom: -36px;
    right: 160px;
    width: 466px;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.06);
    .startButton {
      flex: 1;
      color: white;
      text-align: center;
      height: 72px;
      line-height: 72px;
      background-color: rgba(13, 43, 96, 1);
    }
    .contributeButton {
      flex: 1;
      text-align: center;
      height: 72px;
      color: #0D2B60;
      line-height: 72px;
      background-color: white;
    }
  }
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-card {
  width: 320px;
  height: 202px;
  margin-bottom: 26px;
  display: inline-block;
  border-radius: 12px;
  padding: 32px;
  background-color: white;
  border: 1px solid rgba(22, 100, 255, 0.1);
  .image-part {
    width: 42px;
    height: 42px;
  }
  .title-part {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  .desc-part {
    font-size: 14px;
    color: rgba(78, 89, 105, 1);
  }
}

.case-study-card {
  position: relative;
  width: 356px;
  height: 338px;
  border: 1px solid rgba(22, 100, 255, 0.1);
  border-radius: 12px;
  .top-part {
    height: 126px;
    padding: 24px 35px;
    margin-bottom: 12px;
    .title {
      font-size: 14px;
      color: white;
      margin-bottom: 6px;
    }
    .second-title {
      font-size: 28px;
      color: white;
    }
  }
  .content-part {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(22, 100, 255, 0.1);
    top: 114px;
    left: 0px;
    z-index: 2;
    border-radius: 12px;
    width: 356px;
    height: 224px;
    padding: 20px 35px;
    .detail {
      margin-top: 12px;
      margin-bottom: 20px;
      font-size: 14px;
      color: rgba(87, 99, 125, 1);
    }
    .title-image {
      width: 192px;
      height: 48px;
    }
    .bottom-part {
      font-size: 16px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: end;
      color: rgba(2, 8, 20, 1);
      .bottom-line {
        width: 120px;
        height: 1px;
        background-color: rgba(221, 226, 233, 1);
        margin-right: 16px;
      }
    }
  }
}
.contributor-image {
  width: 200px;
  height: 36px;
  margin-bottom: 36px;
  margin-left: 16;
  margin-right: 16px;
}

#bottom {
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    .text {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .jumpProject {
      display: flex;
      align-items: center;
      justify-content: center;
      .button {
        margin: 0px 6px;
        padding: 5px 16px;
        cursor: pointer;
        border-radius: 4px;
        width: fit-content;
        position: relative;
        background-color: rgba(246, 248, 250, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .project {
          font-size: 13px;
          color: rgba(66, 70, 78, 1);
        }
        .jumpIcon {
          width: 12px;
          height: 12px;
          margin-left: 6px;
        }
      }
    }
  }
}

.dpcol {
  display: flex;
  flex-direction: column;
}
.dpcol-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dprow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mr18 {
  margin-right: 18px;
}
.cp {
  cursor: pointer;
}